absl-py==1.2.0
altair==4.2.0
altgraph==0.17.2
anyio==3.6.1
anytree==2.8.0
apparmor==3.0.7
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
art==5.7
ascii-magic==1.6
asttokens==2.0.7
async-generator==1.10
attrs==21.4.0
Automat==20.2.0
autopep8==1.7.0
Babel==2.10.3
backcall==0.2.0
bcrypt==3.2.2
Beaker==1.11.0
beautifulsoup4==4.11.1
bleach==5.0.1
blessings==1.7
blinker==1.5
bpython==0.22.1
btrfsutil==5.18.1
CacheControl==0.12.6
cachetools==5.2.0
caffeine-ng==4.0.2
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2022.6.15
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
coloredlogs==15.0.1
commonmark==0.9.1
configobj==5.1.0.dev0
constantly==15.1.0
crayons==0.4.0
cryptography==37.0.4
cssselect2==0.6.0
curtsies==0.3.10
cwcwidth==0.1.6
cx-Freeze==6.11.1
cycler==0.11.0
debugpy==1.6.2
decorator==5.1.1
defusedxml==0.7.1
deluge==2.1.1
deprecation==2.1.0
distlib==0.3.5
distro==1.7.0
dnspython==2.2.1
docutils==0.19
emoji==2.1.0
entrypoints==0.4
evdev==1.6.0
ewmh==0.1.6
executing==0.10.0
fastjsonschema==2.16.1
filelock==3.6.0
fonttools==4.37.1
future==0.18.2
GeoIP==1.3.2
gitdb==4.0.9
GitPython==3.1.27
GNOME-App-Folders-Manager==0.4.5
greenlet==1.1.2
gufw==22.4.0
httpie==3.2.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.3
ifaddr==0.2.0
importlib-metadata==4.8.1
incremental==21.3.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
jaraco.context==4.1.1
jaraco.functools==3.5.1
jaraco.text==3.8.1
jarowinkler==1.2.0
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.9
jsonpointer==2.3
jsonschema==4.9.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyter-packaging==0.12.2
jupyter-server==1.18.1
jupyterlab==3.4.4
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
keyring==23.4.0
kiwisolver==1.4.4
layoutswitcherlib==0.8.27
lensfun==0.3.3
Levenshtein==0.20.1
LibAppArmor==3.0.7
libfdt==1.6.1
libtorrent==2.0.7
lit==14.0.6.dev0
louis==3.22.0
lxml==4.9.1
Mako==1.1.6
manjaro-sdk==0.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
MechanicalSoup==1.1.0
mediapipe==0.8.10.1
meson==0.63.1
mistune==0.8.4
more-itertools==8.13.0
MouseInfo==0.1.3
msgpack==1.0.3
multidict==6.0.2
nba-api==1.1.11
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nftables==0.1
nltk==3.7
notebook==6.4.12
notebook-shim==0.1.0
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.23.1
onboard==1.4.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
patchelf==0.15.0.0
pep517==0.12.0
persepolis==3.2.0
pexpect==4.8.0
pickleshare==0.7.5
piexif==1.1.3
Pillow==9.2.0
platformdirs==2.5.2
plotly==5.10.0
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.20.1
proton-client==0.7.1
protonvpn-nm-lib==3.11.0
psutil==5.9.1
ptyprocess==0.7.0
pulsectl==22.3.2
pure-eval==0.2.2
pwquality==1.4.4
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
PyAutoGUI==0.9.53
pycairo==1.21.0
pycodestyle==2.9.1
pycparser==2.21
pydeck==0.8.0b3
pyenchant==3.2.2
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.12.0
PyGObject==3.42.2
pyinotify==0.9.6
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.10
Pympler==1.0.1
PyMsgBox==1.0.9
pyOpenSSL==22.0.0
pypandoc==1.8.1
pyparsing==3.0.9
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyRect==0.2.0
pyrsistent==0.18.1
PyScreeze==0.1.28
pyserial==3.5
PySide6==6.3.1
pysmbc==1.0.23
PySocks==1.7.1
pysqlite3==0.4.7
python-dateutil==2.8.2
python-distutils-extra==2.39
python-gnupg==0.4.9
python-xlib==0.31
python3-xlib==0.15
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.28
pyzmq==23.2.0
QtPy==2.1.0
ranger-fm==1.9.3
rapidfuzz==2.4.2
regex==2022.6.2
rencode==1.0.6
reportlab==3.6.11
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
requests-unixsocket==0.3.0
resolvelib==0.8.1
rfc3987==1.3.8
rich @ file:///build/python-rich/src/rich-12.5.1/dist/rich-12.5.0-py3-none-any.whl
rrdtool==0.1.10
scipy==1.9.0
seaborn==0.12.0
SecretStorage==3.3.2
semver==2.13.0
Send2Trash==1.8.0
service-identity==21.1.0
setproctitle==1.2.3
Shapely==1.8.2
shiboken6==6.3.1
sip==4.19.25
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
stack-data==0.4.0
stegano==0.10.2
streamlit==1.13.0
systemd-python==234
TBB==0.2
team==1.0
tenacity==8.0.1
terminado==0.15.0
testpath==0.6.0
tinycss2==1.1.1
tldextract==3.3.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
toolz==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
trimesh==3.9.31
trove-classifiers==2022.8.7
Twisted==21.7.0
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
ufw==0.36.1
ulauncher==5.14.7
uritools==4.0.0
urlextract==1.6.0
urllib3==1.26.11
validate==5.1.0.dev0
validate-pyproject==0.9
validators==0.20.0
watchdog==2.1.9
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.3.3
wget==3.2
wordcloud==1.8.2.2
xcffib==0.11.1
youtube-dl==2021.12.17
zipp==3.8.1
zope.interface==5.4.0
